.Ball{
    aspect-ratio: 1/1;
    width:25px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* 在 antd 的容器内水平居中 */

}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#grey{
    background-color: grey;
}

#blue{
    background-color: rgb(5, 188, 255);
}


.antSelect{
    min-width:60px;
}
